<% @reservations.each do |reservation| %>
  <p>Código</p>
  <%= link_to reservation.code, room_reservation_path(reservation.room, reservation) %>
  <p> <%= reservation.guesthouse.name %> </p>
  <p> <%= reservation.room.name %> </p>
  <% if reservation.confirmed? %> 
    <p>Confirmada</p>
  <% end %>
  <% if reservation.canceled? %> 
    <p>Cancelada</p>
  <% end %>
<% end %>