/* INDEX WELCOME */
.welcome {
  background-image: url(https://img3.wallspic.com/crops/0/7/1/6/7/176170/176170-mountain_lake_cabin-cottage-vacation_rental-rent-cabin_rentals-3840x2160.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  height: 75vh;
  color: var(--black-color);
}

.welcome h1 {
  font-size: 40px;
  letter-spacing: 2px;
}

.welcome p {
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 3px;
}

.welcome a {
  margin-top: 30px;
  letter-spacing: 2px;
  padding: 15px 30px;
  background-color:var(--red-color);
  color: var(--white-color);
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
  box-shadow: -1px 9px 8px 3px rgba(0,0,0,0.67);
  -webkit-box-shadow: -1px 9px 8px 3px rgba(0,0,0,0.67);
  -moz-box-shadow: -1px 9px 8px 3px rgba(0,0,0,0.67);
  transition: 0.7s;
}

.welcome a:hover {
  background-color: var(--light-red);
  color: var(--light-gray);
  transform: translate(-3px,-5px);
  -webkit-transform: translate(-1px,-5px);
  -moz-transform: translate(-1px,-5px);
}